Flask==2.3.3
gunicorn==21.2.0
python-dotenv==1.0.0
SpeechRecognition==3.10.0
gtts==2.4.0
deep-translator==1.11.4
requests==2.31.0
Werkzeug==2.3.7
pydub==0.25.1
cachetools==5.3.1
imageio-ffmpeg==0.5.1
